
@charset "UTF-8";
:root{
    --cor1:#d8b66e;
    --cor1:#4e4e4e;
    
}

@media screen and (max-width: 900px){
    body{
        background-color: #4e4e4e;
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .fundo{
        background-image: url(imagens/fundo-mobile-redimensionado.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .icon{
        background-color: rgba(255, 255, 255, 0.418);
        padding: 10px;
        border-radius: 50%;
    }
    .img-eu img{
        max-width: 200px;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item, .nav-list {
        display: none;
     
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        
    }
    .mobile-menu.open .nav-link {
        color: white;
        font-size: 28px;
        
    }
    .mobile-menu.open ul{
        background-color: rgba(46, 46, 46, 0.473);
        margin: 0;
        text-align: left;
        
    }
   
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
        color: white;
        
    }
    
    .bio{
        font-size: 18px;
    }
    .img-eu-mobile{
        display: block;
        border-radius: 50%;
    }
    


    .apresentação{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 0; /* remove margin-left em mobile */
    }

    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0; /* remove margin-left em mobile */
    }
    .contato ul{
        text-align: center;
    }
    .titulo-sobre{
        font-size: 18px;
    }
    .sobre, .p-sobre{
        font-size: 13px;
        line-height: 19px;
    }
    .sobre{
        margin-left: 0; /* remove margin-left em mobile */
    }
    .flex-sobre{
        display: flex;
        flex-direction: column;
        
    }
    
    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 0; /* remove margin-left em mobile */
    }
    .img-cards{
      margin-bottom: 10px;
      
        
    }
    .img-cards img {
        width: 90%;
        max-width: 100%;
        height: auto;
        margin: 1rem auto;
        border-radius: 10px;
    }
    .img-tech{
        height: 100px;
        margin: 10px;
    }

    .container-tech{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: 0; /* remove margin-left em mobile */
    }
    #meuTexto{
        margin-left: 0;
        font-size: 28px;
    }
}


